<div class="col-9">
  <div class="form-check">
    <div class="form-check-label">
      <%= f.check_box(:can_be_part, class:"form-check-input") %>
      <%= f.label :can_be_part, Spree.t(:can_be_part)%>
    </div>
    <div class="form-check-label">
      <%= f.check_box(:individual_sale, class:"form-check-input") %>
      <%= f.label :individual_sale, Spree.t(:individual_sale)%>
    </div>
  </div>
</div>

<% if @product.assembly? %>
  <% content_for :head do %>
    <script type="text/javascript">
      jQuery(document).ready(function(){
        $("input[id='product_on_hand']").attr('disabled',true).parent().hide();
        $("input#product_can_be_part").attr('disabled',true);
      });
    </script>
  <% end %>
<% end %>
